name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          registry-url: 'https://registry.npmjs.org'
      - name: auto-dist-tag
        run: npx auto-dist-tag@1 --write
        working-directory: packages/ember-cli-code-coverage

      - run: npm publish
        working-directory: packages/ember-cli-code-coverage
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
